---
layout: page
permalink: /tags/
title: Рубрики
subtitle: Разделение ресурса на более узкие тематики
description: Для более простого поиска по постам на сайте
image_path: /assets/images/0310.jpg
---

<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <div id="#{{ tag_name | slugize }}"></div>
    <p></p>
    
    <h2 class="tag-head mbr-section-subtitle mbr-bold pb-3 mbr-fonts-style display-2">{{ tag_name }}</h2>
    <a name="{{ tag_name | slugize }}"></a>
    <div class="row">
    {% for post in site.tags[tag_name] %}
    <article class="archive-item col-12 col-md-6">
      <span>{{ post.date | date_to_string }}</span>
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
    </div>
  </div>
{% endfor %}
</div>

<style>
  .archive-item a {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #3396FF;
    display: inline-block;
    color: #fff;
  }

  .archive-item a:hover {    
    
        background-color: #e33;
        color: #fff;
        transform: rotate(1.5deg) scale(1.2,1.2);
   
 }
</style>