<link rel="stylesheet" href="{{ site.baseurl }}/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/tether/tether.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/theme/css/style.css">
  
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/mobirise/css/mbr-additional.css" type="text/css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/popup-gallery.css" type="text/css">




  <script defer src="{{ site.baseurl }}/assets/web/assets/jquery/jquery.min.js"></script>
 <script defer src="{{ site.baseurl }}/assets/popper/popper.min.js"></script>
  <script defer src="{{ site.baseurl }}/assets/tether/tether.min.js"></script>
  <script defer src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.min.js"></script>
 <script defer src="{{ site.baseurl }}/assets/smooth-scroll/smooth-scroll.js"></script>
  <script defer src="{{ site.baseurl }}/assets/dropdown/js/script.min.js"></script>

  <script defer src="{{ site.baseurl }}/assets/jarallax/jarallax.min.js"></script>
  <script defer src="{{ site.baseurl }}/assets/jarallax/jarallax.min.js"></script>

  
  <script defer src="{{ site.baseurl }}/assets/theme/js/script.js"></script>

<script defer src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script defer src="//yastatic.net/share2/share.js"></script>

{% include google-analytics.html %}

  <script defer src="{{ site.baseurl }}/assets/jquery.magnific-popup.min.js"></script>
<script defer src="{{site.baseurl}}/assets/jquery.pjax.js"></script>
<script defer src="{{site.baseurl}}/assets/common.js"></script>





<!-- BEGIN JIVOSITE CODE {literal}
<script defer type='text/javascript'>
(function(){ var widget_id = '12dJUmAdXJ';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
 {/literal} END JIVOSITE CODE -->