<link rel="stylesheet" href="{{ site.baseurl }}/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/tether/tether.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise-gallery/style.css">
  
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/mobirise/css/mbr-additional.css" type="text/css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/popup-gallery.css" type="text/css">

<script defer src="{{ site.baseurl }}/dest/build.min.js"></script>
<script defer src="{{ site.baseurl }}/assets/jquery.magnific-popup.min.js"></script>
<script defer src="{{site.baseurl}}/assets/jquery.pjax.js"></script>
<script defer src="{{site.baseurl}}/assets/common.js"></script>

<script defer src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script defer src="//yastatic.net/share2/share.js"></script>

{% include google-analytics.html %}