<section class="features1 cid-qAdvzLm7MS" id="features1-y" data-rv-view="417">
    
    

    
    <div class="container">

        <h2 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Фичи</h2>

        <div class="row">

        {% for feature in site.features %}

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbri-{{ feature.icon }} mbr-iconfont" media-simple="true" style="font-size: 1000%;"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title mbr-fonts-style align-center display-5">
                        {{ feature.title }}
                    </h4>
                    <p class="mbr-text mbr-fonts-style align-center display-4">
                        {{ feature.text }}
                    </p>
                </div>
            </div>

        {% endfor %}

        </div>

    </div>

</section>