<script type="text/javascript">var submitted=false;</script>
                        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='{{ "/spss/" | relative_url }}';}"></iframe>

<form class="mbr-form" action="{{ site.form-action-sub }}" method="post" target="hidden_iframe" onsubmit="submitted=true;">
                    
                     <div data-for="email"> 
                        <div class="form-group"> 
                            <input type="email" class="form-control px-3" name="{{ site.form-email-sub }}" data-form-field="Email" placeholder="Email" required="" id="email-header15-i"> 
                        </div> 
                    </div> 

                    
                    <span class="input-group-btn">
                        <button  href="" type="submit" class="btn btn-form btn-primary display-4">ПОДПИСАТЬСЯ</button>
                    </span> 
                    
</form>